:root {
  --bg_header: #1f6e8c;
  /*
  --bg_body: #1a120b;
  --bg_body: #151515;
  
  --bg_body: #303446;
  */
  --bg_body: #222831;

  --bg_box: #213555;
  --bg_card: #eeeeee;
  --bg_button: brown;

  --color_base: #fff;
  --color_text: #bebdbd;
  --color_name: #555;
  --color_title_pag: #b3babd;
  --color_hover: brown;

  --width_total: 100%;
  --width_80: 80%;
  --width_60: 60%;
  --width_70: 70%;
  --width_55: 55%;
  --width_50: 50%;
  --width_25: 25%;
  --width_15: 15%;
  --width_10: 10%;
  --width_7-5: 7.5%;
  --width_5: 5%;

  --height_total: 100vh;

  --gap-column: 1.2rem;

  --padding_object: 0.625rem;

  --font_size_text_Desk_Top: 1rem;
  --font_size_text_Mobile: 0.75rem;
  --font_size_menu: 1.25rem;

  --font_size_button: 1.25rem;
  --font_size_name: 1.5rem;
  --font_size_subtitle: 2.5rem;
  --font_size_title: 3.125rem;
  --font_size_role: 3rem;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--bg_body);
  box-sizing: border-box;
}

header {
  width: var(--width_total);
  background-color: var(--bg_header);
  position: fixed;
  z-index: 9;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--width_total);
}

.inside {
  justify-content: center;
  width: var(--width_80);
}

.inside_page_menu {
  width: 100%;
  justify-content: space-between;
}

.inside_page_content {
  align-items: center;
  justify-content: space-between;
  margin-top: 210px;
  width: var(--width_total);
  gap: var(--gap-column);
}

.inside_page .inside_page_left,
.inside_page_content,
.inside_page_right,
.inside_page_center {
  display: flex;
  width: var(--width_total);
}

.inside_page_left_50,
.inside_page_right_50 {
  display: flex;
  flex-direction: column;
  width: var(--width_50);
}

.inside_page_left_50 {
  justify-content: center;
}

.inside_page_right_50 {
  justify-content: right;
}
